/**

Style SCSS du site pierrealainfaure.com

*/

@import "./assets/css/fonts";
@import "./assets/css/scrollbar";

//@import "./assets/css/animations";
@import "./assets/icons/fontawesome/css/all.min.css";

:root {
  --home-color: #20CAFC;
  --whoiam-color: #ffffff;
  --contact-color: #000000;
}
.bg-line1, .bg-line2{
    position: fixed;
    top: 0;
    left: 25px;
    height: 100vh;
    width: 400px;
    border-right: 1px solid white;
    border-left: 1px solid white;
    opacity: 0.2;
    z-index: 0;
}
.bg-line2{
    left: 800px;
}



#logo{
  position: fixed;
  top: 6%;
  left: 3%;
  transition: width 0.2s ease-in, transform 0.1s ease-in-out;
  width: 85px;
  width: 75px;


  &:hover {
    width: 88px;
    transform: rotate(360deg);
  }
}

#portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 5rem;
  background-color: var(--home-color);
}

  video {
    width: 250px;
  }
  h1{
    font-size: 3.2rem;
    font-family: 'Abel';
    color: white;
  } 
  #whoiam img, #contact img{
    width: 25%;
    float: left;
  }
  #whoiam, #contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 5rem;
  padding: 5rem;
  }

  #whoiam{
    background-color: var(--whoiam-color);
  }
  #contact{
    background-color: var(--contact-color);
    color: #ffffff;
  }


///////////////
/*Responsive*/ //////////////////////////////////////////////////
/////////////
//@import "./assets/css/responsive";
