/**

Style SCSS du site pierrealainfaure.com

*/
@import "./assets/css/reset";
@import "./assets/css/fonts";
@import "./assets/css/slideshow";
/* 
@import "./assets/css/cursor"; 

@import "./assets/css/scrollbar";
*/



html, body {
  padding: 0;
  margin: 0;
  background-color: #101010;
  font-family: sans-serif;
}

#logo{

/*   transition: width 0.2s ease-in, transform 0.1s ease-in-out; */
  font-family: 'Abel';
  font-size: 2.2rem;
  color: white;


  &:hover {
      /*animate todo*/
  }
}

.main {
/*   font-family:Arial;
  width:1200px;
  display:block;
  margin:0 auto; */
}
/* .item img{

  width: auto;
  max-height: 100%;
  object-fit: cover;

} */

@import "./assets/css/menu"; /*Menu original du slideshow*/
/* @import "./assets/css/menu-wp"; */
///////////////
/*Responsive*/ //////////////////////////////////////////////////
/////////////
@import "./assets/css/responsive";
