@charset "UTF-8";
/**

Style SCSS du site pierrealainfaure.com

*/
:root {
  --home-color: #20CAFC;
  --default-color: #e9e9e9;
  --contact-color: #000000;
  --primary-color: #E00000;
  --secondary-color: #CD006B;
  --third-color: #EEE325;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

a {
  color: inherit; /* Couleur du texte héritée */
  text-decoration: none; /* Aucune décoration de texte (pas de soulignement) */
  cursor: pointer; /* Curseur par défaut */
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
Font Family de pierrealainfaure.com
*/
@font-face {
  font-family: "Abel";
  src: url("./assets/fonts/Abel-Regular.ttf") format("truetype");
}
/****************************************/
.slideshow {
  width: 100%;
  height: 100%;
  border: 0px;
  padding: 0px;
  margin: 0 auto;
  background-color: #000;
  overflow: hidden;
  counter-reset: slide;
}

input {
  position: absolute;
  opacity: 0;
  top: -25px;
  counter-increment: slide;
}

input:checked + .slide {
  transform: translateX(0px);
  transition: transform 0.5s ease-in-out;
}

input:checked + .slide .slide__content {
  width: 100%;
  display: block;
}

input:checked + .slide .slide__content:before {
  visibility: hidden;
}

input:checked:nth-of-type(1) ~ nav label:nth-child(1) {
  color: white;
}

input:checked:nth-of-type(2) ~ nav label:nth-child(2) {
  color: white;
}

input:checked:nth-of-type(3) ~ nav label:nth-child(3) {
  color: white;
}

input:checked:nth-of-type(4) ~ nav label:nth-child(4) {
  color: white;
}

input:checked:nth-of-type(5) ~ nav label:nth-child(5) {
  color: white;
}

.slide__home {
  transform: translateX(-100%);
  position: absolute;
  width: 20%;
  height: 100%;
  background-size: 50% 100%;
  transition: transform 0.5s ease-in-out;
}

.slide {
  transform: translateX(-100%);
  position: absolute;
  width: 50%;
  height: 100%;
  background-size: 50% 100%;
  transition: transform 0.5s ease-in-out;
}

.slide__content {
  box-sizing: border-box;
  height: 100%;
  overflow: auto;
  padding: 50px 35px;
  color: #DDD;
  position: absolute;
  left: 100%;
  display: none;
  animation-name: fade-in;
  animation-duration: 1s;
  animation-iteration-count: 1;
  opacity: 1;
}

.slide__html {
  display: none;
}

.slide:nth-child(2) .slide__content {
  width: 100vw !important;
  left: 0;
}

.slide:nth-child(2) {
  background: transparent;
  /*   background: url("https://via.placeholder.com/1000x2000/2E112D/fff?text=1");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center; */
}

.slide:nth-child(2):after {
  position: absolute;
  margin: auto;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.slide__html {
  display: none;
}

.slide:nth-child(4) {
  background: url("https://via.placeholder.com/1000x2000/540032/fff?text=2");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.slide:nth-child(4):after {
  position: absolute;
  margin: auto;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.slide__html {
  display: none;
}

.slide:nth-child(6) {
  background: url("https://via.placeholder.com/1000x2000/820333/fff?text=3");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.slide:nth-child(6):after {
  position: absolute;
  margin: auto;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.slide__html {
  display: none;
}

.slide:nth-child(8) {
  background: url("https://via.placeholder.com/1000x2000/C9283E/fff?text=4");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.slide:nth-child(8):after {
  position: absolute;
  margin: auto;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.slide__html {
  display: none;
}

.slide:nth-child(10) {
  background: url("https://via.placeholder.com/1000x2000/F0433A/fff?text=5");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.slide:nth-child(10):after {
  position: absolute;
  margin: auto;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

nav {
  position: absolute;
  display: flex;
  justify-content: end;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 60px;
  overflow: auto;
  background-size: 100%;
  height: 60px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #101010 10%);
}

label {
  box-sizing: border-box;
  color: #AAA;
  font-weight: bold;
  font-size: 1.5rem;
  display: block;
  width: 18%;
  margin: 5px 1% 5px 1%;
  height: 50px;
  line-height: 50px;
  border-bottom: solid 4px #AAA;
  text-align: center;
  float: left;
  text-transform: lowercase;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

label:hover {
  cursor: pointer;
  color: #FFF;
  border-bottom: solid 4px #FFF;
}

label:nth-child(1) {
  left: 50%;
  border-bottom-color: #2E112D;
}

label:nth-child(2) {
  left: 60%;
  border-bottom-color: #540032;
}

label:nth-child(3) {
  left: 70%;
  border-bottom-color: #820333;
}

label:nth-child(4) {
  left: 80%;
  border-bottom-color: #C9283E;
}

label:nth-child(5) {
  left: 90%;
  border-bottom-color: #F0433A;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
/* SLICK CAROUSEL**********************************************

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

.slick-dots li button:before {
  color: white !important;
  font-size: 12px !important;
}

.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}

.slick-active {
  opacity: .5;
}

.slick-current {
  opacity: 1;
}
*/
main {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Utilisez 100% de la hauteur de la vue (viewport height) */
  margin: 0;
  padding: 0;
}

html, body {
  padding: 0;
  margin: 0;
  background-color: #101010;
  font-family: sans-serif;
  overflow: hidden;
}

#logo {
  /*   transition: width 0.2s ease-in, transform 0.1s ease-in-out; */
  font-family: "Abel";
  font-size: 2.2rem;
  color: rgb(235, 235, 235);
}
#logo:hover {
  /*animate todo*/
}

.site-header {
  display: flex;
  font-family: "Abel";
  width: 100vw;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  padding: 25px 40px;
}

.site-title {
  color: var(--primary-color);
  text-transform: uppercase;
}

p.site-title a {
  font-family: "Abel";
  font-size: 40px;
  letter-spacing: 6px;
}

.slider {
  margin: 70px auto;
}

.site-footer {
  display: flex;
  width: 97%;
  padding: 2rem 35px;
  position: absolute;
  bottom: 0;
  background-color: #101010;
  justify-content: space-between;
}
.site-footer .bottomL {
  display: flex;
  flex: 2;
  font-family: "Abel";
  font-size: 1.2rem;
  letter-spacing: 4px;
  color: var(--default-color);
  align-items: self-end;
}
.site-footer .bottomCenter {
  flex: 8;
  height: 200px;
  font-family: "Abel";
  font-size: 12rem;
  letter-spacing: 2px;
  color: var(--default-color);
  opacity: 0; /* Définissez l'opacité initiale à 0 */
  transition: opacity 0.9s ease-in;
  position: absolute;
  bottom: 150px;
  left: 150px;
  z-index: 9999;
}
.site-footer .bottomR {
  display: flex;
  font-family: "Abel";
  font-size: 0.9rem;
  letter-spacing: 2px;
  color: var(--default-color);
  justify-content: flex-end;
  text-align: right;
  flex-direction: column;
}

.linkarrow:hover {
  background: url("./assets/images/portfolio/arrow_right.png") no-repeat;
  background-size: 8px 10px;
  text-align: right;
  background-position: left center; /* Ajustez la position de l'image de fond */
  padding-left: 20px;
}

/* Styles pour le menu horizontal */
.menu-horizontal {
  display: flex;
  list-style: none;
  padding: 0;
  font-size: 1.5rem;
  width: unset;
}

nav {
  top: 2rem;
  overflow: hidden;
  background: unset;
  font-family: "Abel";
}
nav label {
  border-bottom: none;
  width: 14%;
}

.fullscreenMenu {
  display: none;
}

.primary-menu {
  position: absolute;
  top: 1rem;
  right: 6rem;
  font-family: "Abel";
}

/* Menu burger styles */
#menuToggle {
  display: none; /* Caché par défaut sur les grands écrans */
  cursor: pointer !important;
  padding: 10px;
  z-index: 99999;
  position: relative;
  margin: 0 65px 0 0;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 3px;
  margin-bottom: 5px;
  background: #ffffff;
  border-radius: 2px;
  transition: transform 0.3s ease-in-out;
}

#menuToggle.active span {
  background: #2b2a2a;
}

/* Pour transformer les barres en 'X' */
#menuToggle.active span:nth-child(1) {
  transform: rotate(-45deg) translate(-4px, 4px);
}

#menuToggle.active span:nth-child(2) {
  opacity: 0;
}

#menuToggle.active span:nth-child(3) {
  transform: rotate(45deg) translate(-4px, -4px);
}

/*Menu original du slideshow*/
/* @import "./assets/css/menu-wp"; */
/*Responsive*/
@media (min-width: 320px) and (max-width: 800px) {
  .owl-theme .owl-nav {
    left: unset;
  }
  .owl-next {
    left: 77vw;
  }
  .u-media-wrapper.u-media-wrapper--16-9 {
    height: 20rem !important;
  }
  .c-header {
    height: 100vh;
  }
  #logo {
    left: 2rem;
  }
}
/****************


        MENU

*****************/
@media (max-width: 900px) {
  #primary-menu {
    display: none;
  }
  #menuToggle {
    display: block;
  }
  .fullscreenMenu {
    position: absolute;
    /* top: -100%; */
    width: 100%;
    height: 100vh;
    background: white;
    top: 0;
    left: 0;
  }
  .fullscreenMenu.active {
    top: 0;
    left: 0;
    display: flex;
    z-index: 9999;
  }
  .fullscreenMenu.active nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    top: unset;
    border: 0;
    background: none;
  }
  .fullscreenMenu.active nav label {
    margin: 0;
    color: black;
    overflow: auto;
    line-height: 100%;
    padding: 1.5rem;
    width: 100%;
    justify-content: center;
    border: 0;
    background: none;
  }
}

/*# sourceMappingURL=style.css.map */
