@charset "UTF-8";
/**

Style SCSS du site pierrealainfaure.com

*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import "./assets/icons/fontawesome/css/all.min.css";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.cursor {
  width: 40px;
  height: 40px;
  border: 1px dashed white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  animation: Anim1 1s infinite alternate;
  pointer-events: none;
  font-family: "Abel";
  font-size: 0.9rem;
}
.cursor::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5px;
  height: 5px;
  background: rgb(163, 162, 162);
  border-radius: 50%;
}

.overImg {
  animation: AnimOver 0.9s infinite alternate;
  background: rgba(247, 244, 243, 0.5);
  border: 1px solid rgb(172, 173, 171);
}

.expand {
  animation: Anim2 0.5s;
  background: rgb(167, 235, 42);
  border: 1px solid rgb(53, 90, 5);
}

@keyframes AnimOver {
  from {
    transform: scale(2);
  }
  to {
    transform: scale(1);
  }
}
@keyframes Anim1 {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(0.7) rotate(190deg);
  }
}
@keyframes Anim2 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
* {
  margin: 0;
  padding: 0;
}

body {
  color: #fff;
  background-color: #021417;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  min-height: 100vh;
  width: 100%;
  /* max-width: 900px; */
  margin: 0 auto;
}

.c-header {
  display: block;
  width: 100%;
}

.u-a5 {
  font-family: Arial;
  font-size: 37px;
  line-height: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 700;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  color: #fff;
}
.u-a5 img {
  width: 130px;
  height: 400px;
  object-fit: cover;
  filter: grayscale(100%);
  transition: filter 0.3s ease, height 0.3s ease;
}
.u-a5 img:hover {
  filter: grayscale(2%);
  height: 420px;
}

.u-b4 {
  font-family: Arial;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0.3px;
  font-weight: normal;
  color: #fff;
}

a {
  text-decoration: none;
}

.u-media-wrapper {
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: center;
  height: 0;
}
.u-media-wrapper.u-media-wrapper--16-9 {
  /* padding-bottom:  math.div(9, 16); */
  padding-bottom: 40%;
}

.c-gradient-overlay {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle at 49% 50%, rgba(2, 21, 25, 0.3), rgba(2, 21, 25, 0.6));
}

.c-mouse-vertical-carousel {
  position: relative;
  overflow: hidden;
}
.c-mouse-vertical-carousel__list {
  display: flex;
  width: 30%;
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
  z-index: 1;
  height: 500px;
}
.c-mouse-vertical-carousel__list-item {
  flex: 0 0 10rem;
  text-align: center;
}
.c-mouse-vertical-carousel__list-item a {
  display: block;
  padding-bottom: 25px;
  padding-top: 25px;
}
.c-mouse-vertical-carousel__eyebrow {
  position: relative;
  padding-bottom: 12px;
}
.c-mouse-vertical-carousel__eyebrow span {
  position: absolute;
  left: -30px;
  top: 2px;
}
.c-mouse-vertical-carousel__title {
  max-width: 450px;
}
.c-mouse-vertical-carousel__bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  will-change: transform;
}

.post-title {
  display: block;
  position: fixed;
  z-index: -1;
  bottom: 0; /* Positionné en bas de l'écran */
  right: 0; /* Positionné à droite de l'écran */
  /* width: 80rem; */
  font-family: "Abel";
  font-size: 8.2rem;
  transition: width 0.2s ease-in, transform 0.1s ease-in-out;
}

/*
Font Family de pierrealainfaure.com
*/
@font-face {
  font-family: "Abel";
  src: url("./assets/fonts/Abel-Regular.ttf") format("truetype");
}
/* Styles personnalisés pour les barres de défilement */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* Styles personnalisés pour les barres de défilement dans Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

/* Barre de défilement */
::-moz-scrollbar {
  width: 10px;
}

/* Piste de la barre de défilement */
::-moz-scrollbar-track {
  background-color: #f1f1f1;
}

/* Poignée de la barre de défilement */
::-moz-scrollbar-thumb {
  background-color: #888;
}

/* Hover sur la poignée de la barre de défilement */
::-moz-scrollbar-thumb:hover {
  background-color: #555;
}

:root {
  --home-color: #20CAFC;
  --whoiam-color: #ffffff;
  --contact-color: #000000;
  /* portfolio color */
  --primary-color: #3396C0;
  --secondary-color: #CD006B;
  --third-color: #EEE325;
}

body {
  cursor: none; /* Cacher le pointeur de souris par défaut */
}

/* Style du rond avec opacité de 0.5 */
.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 30px; /* Ajustez la taille du rond ici */
  height: 30px; /* Ajustez la taille du rond ici */
  background-color: rgba(255, 0, 0, 0.5); /* Couleur rouge avec opacité de 0.5 */
  border-radius: 50%;
  pointer-events: none; /* Le rond ne doit pas interagir avec les éléments sous-jacents */
  z-index: 9999; /* Assurez-vous que le rond est au-dessus de tout le contenu */
}

/* Animation pour faire bouger le rond avec la souris */
@keyframes moveCursor {
  100% {
    transform: translate(-50%, -50%);
  }
}
.bg-line1, .bg-line2 {
  position: fixed;
  top: 0;
  left: 25px;
  height: 100vh;
  width: 400px;
  border-right: 1px solid white;
  border-left: 1px solid white;
  opacity: 0.2;
  z-index: 0;
}

.bg-line2 {
  left: 800px;
}

#logo {
  position: fixed;
  top: 6%;
  left: 3%;
  transition: width 0.2s ease-in, transform 0.1s ease-in-out;
  width: 75px;
  font-family: "Abel";
  font-size: 2.2rem;
}
#logo:hover {
  width: 88px;
  transform: rotate(360deg);
}

#portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 5rem;
  background-color: var(--home-color);
}

video {
  width: 250px;
}

h1 {
  font-size: 3.2rem;
  font-family: "Abel";
  color: white;
}

#whoiam img, #contact img {
  width: 25%;
  float: left;
}

#whoiam, #contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 5rem;
  padding: 5rem;
}

#whoiam {
  background-color: var(--whoiam-color);
}

#contact {
  background-color: var(--contact-color);
  color: #ffffff;
}

/*Carousel*/
.carousel {
  width: 500px;
  height: 300px;
  overflow: hidden;
}

.slides {
  display: flex;
  width: fit-content;
  transition: transform 0.3s ease-in-out;
}

.slides li {
  flex: 0 0 100%;
}

.slides img {
  width: 100%;
  height: auto;
}

#banner {
  display: flex;
  justify-content: flex-start; /* Aligner les images à gauche */
  gap: 10px; /* Espace entre les images */
}

.banner-img {
  max-width: 100%;
  width: 250px;
  height: auto;
}

/* Code CSS en prévision de l'ajout d'un carousel pour la bannière */
/* Gestion des fleches du carrousel */
#banner .arrow {
  position: absolute;
}

#banner .arrow_left {
  left: 10px;
}

#banner .arrow_right {
  right: 10px;
}

/* Gestion des points du carrousel */
.dots {
  position: absolute;
  bottom: 40px;
  display: flex;
}

.dot {
  margin-inline: 5px;
  width: 13px;
  height: 13px;
  background-color: rgba(255, 255, 255, 0);
  border: 3px solid #fff;
  border-radius: 100%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.dot_selected {
  background-color: #fff;
}

/* Fin du code CSS pour le carousel */
#banner p {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 900;
  font-size: 50px;
  line-height: 66px;
  color: white;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}

#banner span {
  display: block;
  font-weight: 400;
  font-size: 30px;
}

/*Responsive*/

/*# sourceMappingURL=style.css.map */
