// Styles pour le pointeur de souris personnalisé
.cursor {
  width: 40px;
  height: 40px;
  border: 1px dashed white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  animation: Anim1 1s infinite alternate;
  pointer-events: none;
  font-family: 'Abel';
  font-size: 0.9rem;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 5px;
    height: 5px;
    /* background: rgb(163, 162, 162); */
    border-radius: 50%;

  }
  
}
//for rollover the img to display text on cursor
.overImg {
  animation: AnimOver 0.9s infinite alternate;
  font-size: 1.2rem;
  padding: 8px 0 0 2px;
  color: rgb(211, 210, 210);
}

// Animation d'agrandissement et de disparition
.expand {
  animation: Anim2 0.5s;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(144, 145, 143);
}

@keyframes AnimOver {
 from {
    transform: scale(2) ;
  }
  to {
    transform: scale(1) ;
  }
}

@keyframes Anim1 {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(0.7) rotate(190deg);
  }
}

@keyframes Anim2 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
