/* Styles pour le menu horizontal */

.menu-horizontal {
  display: flex;
  list-style: none;
  padding: 0;
  font-size: 1.5rem;
  width: unset;
}

nav {

  top: 2rem;
  overflow: hidden;
  background: unset;
  font-family: 'Abel';

  label {
    border-bottom: none;
    width: 14%;
  }

}

.fullscreenMenu {
  
  display: none;

}
 
.primary-menu {

  position: absolute;
  top: 1rem;
  right: 6rem;
  font-family: 'Abel';



}

/* Menu burger styles */
#menuToggle {
  display: none; /* Caché par défaut sur les grands écrans */
  cursor: pointer !important;
  padding: 10px;
  z-index: 9999;
  position: relative;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 3px;
  margin-bottom: 5px;
  background: #ffffff;
  border-radius: 2px;
  transition: transform 0.3s ease-in-out;
}

#menuToggle.active span {
  background: #FFF;
}

/* Pour transformer les barres en 'X' */
#menuToggle.active span:nth-child(1) {
  transform: rotate(-45deg) translate(-4px, 4px);
}

#menuToggle.active span:nth-child(2) {
  opacity: 0;
}

#menuToggle.active span:nth-child(3) {
  transform: rotate(45deg) translate(-4px, -4px);
}