@media all and (min-width: 320px)  and  (max-width: 800px){
    
/*     .site-main {

        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100vw;
        overflow: hidden;

        h1 {
            font-size: 2.2rem;
        }

        .u-media-wrapper.u-media-wrapper--16-9{
            height: 150%;
        }
    
    }
     */
    
    
    .u-media-wrapper.u-media-wrapper--16-9{
        height: 80rem !important;
    }
//endof site-main

}

@media all and (min-width: 801px)  and  (max-width: 1200px){
    .u-media-wrapper.u-media-wrapper--16-9{
        height: 50rem !important;
    }
}