@media (min-width: 320px)  and  (max-width: 800px){

  .owl-theme .owl-nav {
    left: unset;
  }

  .owl-next{
    right: 0;
  }
  .owl-prev{
    left: 0;
  }

    .u-media-wrapper.u-media-wrapper--16-9{
        height: 20rem !important;
    }
    .c-header {
        height: 100vh;

    }
    
    #logo{

        left: 2rem;
    }
}

/****************


        MENU

*****************/

@media (max-width: 900px){


    #primary-menu {
        display: none;
    }

    #menuToggle{

        display: block;
    }

    .fullscreenMenu {

          position: absolute;
          width: 100%;
          height: 100vh;
          background: white;

          &.active {

            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            z-index: 2;

              nav{
                display: flex;
                flex-direction: column;
                align-items: center;
                top: unset;
                border: 0;
                background: none;

                label {

                  font-size: 2rem;
                  margin: 10px 0;
                }
              }

          }

      }
    


}