@media (min-width: 320px)  and  (max-width: 800px){

  .owl-theme .owl-nav {
    left: unset;
  }

  .owl-next{
    left: 77vw;
  }

    .u-media-wrapper.u-media-wrapper--16-9{
        height: 20rem !important;
    }
    .c-header {
        height: 100vh;

    }
    
    #logo{

        left: 2rem;
    }
}

/****************


        MENU

*****************/

@media (max-width: 900px){


    #primary-menu {
        display: none;
    }

    #menuToggle{

        display: block;
    }

    .fullscreenMenu {

          position: absolute;
          /* top: -100%; */
          width: 100%;
          height: 100vh;
          background: white;
          top: 0;
          left: 0;

          &.active {
            top: 0;
            left: 0;
            display: flex;
            z-index: 9999;

              nav{
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 100%;
                justify-content: center;
                top: unset;
                border: 0;
                background: none;

                label {
                  

                  margin: 0;
                  color: black;
                  overflow: auto;
                  line-height: 100%;
                  padding: 1.5rem;
                  width: 100%;
                  justify-content: center;
                  border: 0;
                  background: none;

                }
              }

          }

          

        

            

      }
    


}