/*

Customizing OWL CSS

*/

/*
Fleche navigation carousel
*/
.owl-next{
    position: absolute;
    left: 87vw;
  }
  .owl-prev{
    position: absolute;
    left: 5vw;
  }
  .owl-theme .owl-nav [class*='owl-'] {
    color: var(--default-color) !important;
  }

  /*
  Dot de navigation sous carousel en home.php
  */
  .owl-theme .owl-dots .owl-dot span{
    width: 15px;
    height: 15px;
    margin: 15px 7px;
  }