/**
Slick Css customization
*/

/* Désactivez la transition de l'opacité */
.slick-slide {
    transition: transform 500ms ease 0s !important;
  }
  
  /* Configurez la transformation pour les diapositives actives */
  .slick-slide.slick-active {
    transform: translateX(0); /* ou toute autre transformation souhaitée */
  }
  
  /* Configurez la transformation pour les diapositives précédentes */
  .slick-slide.slick-prev {
    transform: translateY(-100%); /* ou toute autre transformation souhaitée */
  }
  
  /* Configurez la transformation pour les diapositives suivantes */
  .slick-slide.slick-next {
    transform: translateY(100%); /* ou toute autre transformation souhaitée */
  }